<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td{
        border:1px solid black;
        border-collapse: collapse;
    }
</style>
<body>
<h1 th:text="${greeting}"></h1>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
<table>
    <tr>
        <th>Bezeichnung</th>
        <th>Läuft ab am</th>
        <th>Beantwortet mit "trifft völlig zu"</th>
        <th>Beantwortet mit "trifft teilweise zu"</th>
        <th>Beantwortet mit "trifft nicht zu"</th>
    </tr>
    <tr th:each="question: ${all_questions}">
        <td th:text="${question.bezeichnung}">
        <td th:text="${question.ablaufDatum}"></td>
        <td th:text="${summary_map[question.id][0]}"></td>
        <td th:text="${summary_map[question.id][1]}"></td>
        <td th:text="${summary_map[question.id][2]}"></td>
    </tr>
</table>
<form th:action="@{/fragen/new_frage}" method="post">
    <button type="submit" class="btn btn-primary">Neue Frage hinzufügen</button>
</form>
</body>
</html>