<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<body>
<h1 th:text="${greeting}"></h1>
<table>
    <tr>
        <th>Bezeichnung</th>
        <th>Läuft ab am</th>
    </tr>
    <tr th:if="${unanswered_questions.empty}">
        <td colspan="2">Alle Fragen beantwortet!</td>
    </tr>
    <tr th:each="question: ${unanswered_questions}">
        <td>
            <a th:href="@{/fragen/{id}(id=${question.id})}" th:text="${question.bezeichnung}"></a>
        </td>
        <td th:text="${question.ablaufDatum}"></td>
    </tr>
</table>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
</body>
</html>